<!-- <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div> -->

{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
    <div class="d-flex justify-content-center" style="margin-top: 5%; margin-bottom: 3%;">
      <div class=" card justify-content-center" style="width: 50%; padding:5%">
        <img src="https://i.postimg.cc/vBmgkchD/undraw-refreshing-beverage-td3r.png" alt="Paperpillar Mascot" height="300px" width="300px" style="margin: auto;">
            <h2>H2R2</h2>
            <form method="post">
              {% csrf_token %}
              {{form.email|as_crispy_field}}
              {{form.username|as_crispy_field}}
              {{form.password1|as_crispy_field}}
              {{form.password2|as_crispy_field}}
              <button style="background-color:#1089B8" type="submit" class="btn btn-success">Signup</button>
            </form> 
      </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: white;">
        <p> Copyright &copy; 2022-<script>document.write(new Date().getFullYear())</script> H2R2 All Rights Reserved</p>
      </div>
      <!-- Copyright -->
    </footer>
</html>